@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

html{
    padding: 0px;
    margin: 0px;
    height: 100%; 
}

body{
	font-family: 'Open Sans', sans-serif;
	background: #78909c; 
}

footer {
	height: 35px;
	border-bottom: 1px solid black; 
}

.container {
	margin-left: auto;
	margin-right: auto;
    width: 500px;  
}

.row {
	margin-top: 15px;
	margin-bottom: 15px;
	background: #000;
	height: 5px;
	width: 100%;
}

li {
	padding: 5px;
	list-style-type: none;
}

ul {
	min-height: 130px;
}

/*Texto*/
h1 { 
    font-size: 16px;
    border-bottom: 1px solid black; 
} 

a{
    text-decoration: none;
}

a:visited {
    color: black;
}

.mais-info{
	text-align: right;
}

.mais-info a{
    background: #cfd8dc;
	color: black;
}
