@import url('https://fonts.googleapis.com/css?family=Overpass:700');

html{
    padding: 0px;
    margin: 0px;
}

.container{
    width: 600px;
}

.main{
    border: 1px solid #BEBEBE;
    box-shadow: 1px 1px #e4e4e4;
}

.header{    
    font-family: 'Overpass';
}

.content{ 
    font-family: 'Overpass';
}

/*Imagens*/
.logo-image{
    width: 100px;
    height: 100px;
    text-align: center;
    padding-top: 10px;
}

.common-image{
    width: 560px;
    height: 200px;
    text-align: center;
    background-color: black;
    color: white;
}

/*Texto*/
.title{
    width: 560px;
    padding-top: 5px;
    padding-left: 20px;
    background-color: #3498DB;
    font-size: 24px;
    font-weight: bold;
    color: white;
}

.subtitle{
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 20px;
    text-indent: 0px;
    font-weight: bold;
    color: black;
}

.text{
    padding-top: 15px;
    padding-bottom: 10px;
    width: 560px;
    text-indent: 24px;
}

a{
    text-decoration: none;
    color: black;
}

a:visited {
    color: black;
}

/*Separadores*/
.row-one{
    height: 24px;
    width: 600px;
}

/*Alinhar*/
.centerfy{
    margin-left: auto;
    margin-right: auto;
}